
h1 {
  text-align: center;
  color: #D4AF37;
  text-shadow: 50px #DB1BB5;
  font-family: "SF Hollywood Hills Extended", Courier;
  font-size: 100px;
}
#form {
  text-align: center;
  margin-bottom: 40px;
  /* {
    background-color: var(--web-ui_button-background-color,rgb(var(--color-macaw)));
    border-radius: var(--__internal__border-radius);
    bottom: 0;
    box-shadow: 0 var(--__internal__lip-width) 0 var(--web-ui_button-border-color,rgb(var(--color-whale)));
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
} */
  
}
body {
  background-color: rgb(1, 11, 19);
}
.load-more-container {
  display: flex;
  justify-content: center; /* Horizontally center the button */
  align-items: center; /* Vertically center the button */
  background-color: #f7bfbe;
  padding: 15px 32px;
}

.load-more-container button{
  /* text-align: center; 
  align-items: center; */
  align-items: center;
  background-color: #f7bfbe;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
   
}


.average {
  font-weight: normal;
  color: #f7bfbe;
  text-align: center;
  font-family: "SF Hollywood Hills Extended", Courier;
  font-weight: bold;
}

.name {
  margin: 1px;
  color: #f7bfbe;
  font-weight: bold;
  text-align: center;
  font-family: "SF Hollywood Hills Extended", Courier;
}

img {
  margin: 70px;
  width: 225px;
  height: auto;
  border: 10px;
  border-radius: 10%;
  border-style: solid;
  border-color: #D4AF37;
}

.movie {
  margin: 100px;
  display: inline-block;
  font-family: "SF Hollywood Hills Extended", Courier;
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.stars1 {
  background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: 0;
}

.twinkling {
  width: 10000px;
  height: 100%;
  background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
  background-size: 1000px 1000px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;

  -moz-animation: move-background 70s linear infinite;
  -ms-animation: move-background 70s linear infinite;
  -o-animation: move-background 70s linear infinite;
  -webkit-animation: move-background 70s linear infinite;
  animation: move-background 20s linear infinite;
}

@keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

@-moz-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}