/* h1 {
  text-transform: uppercase;
    text-align: center;
    margin: 20px 0;
    -webkit-text-fill-color: #D4AF37;
}
#form {
  text-align: center;
  margin-bottom: 40px;
}
body {
  background-color: #010b13;
}
.star {
  margin: 10px;
}
.average {
  font-weight: normal;
  color: #949373;
}
.name {
  margin : 1px;
  color: #949373;
  font-weight: bold;
  text-align: center;
}
img {
  margin : 70px;
  width: 225px;
  height: 200;
  border: 10px;
  border-radius: 10%;
  border-style: solid;
  /* border-color: #080B29; */
  /* border: 4px solid #D4AF37;
}
.movie {
  margin: 100px;
  display:inline-block;
} */ 
/* h1 {
  text-align: center;
  color: #949373;
  text-shadow: 50px #DB1BB5;
}

body {
  background-color: rgb(101, 24, 21);
}

.star {
  margin: 3px;
}

.average {
  font-weight: normal;
  color: #949373;
}

.name {
  margin: 1px;
  color: #949373;
  font-weight: bold;
  text-align: center;
}

img {
  margin: 70px;
  width: 200px;
  height: auto;
  border: 20px;
  border-radius: 20%;
  border-style: solid;
  border-color: #080B29;
}

.movie {
  margin: 100px;
  display: inline-block;
}

.load-more-container {
  text-align: center;
  margin-top: 20px;
} */
h1 {
  text-align: center;
  color: #D4AF37;
  text-shadow: 50px #DB1BB5;
}

body {
  background-color: rgb(1, 11, 19);
}

.star {
  margin: 10px;
}

.average {
  font-weight: normal;
  color: #f7bfbe;
  text-align: center;
}

.name {
  margin: 1px;
  color: #f7bfbe;
  font-weight: bold;
  text-align: center;
}

img {
  margin: 70px;
  width: 225px;
  height: auto;
  border: 10px;
  border-radius: 10%;
  border-style: solid;
  border-color: #D4AF37;
}

.movie {
  margin: 100px;
  display: inline-block;
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.stars1 {
  background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: 0;
}

.twinkling {
  width: 10000px;
  height: 100%;
  background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
  background-size: 1000px 1000px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;

  -moz-animation: move-background 70s linear infinite;
  -ms-animation: move-background 70s linear infinite;
  -o-animation: move-background 70s linear infinite;
  -webkit-animation: move-background 70s linear infinite;
  animation: move-background 20s linear infinite;
}

@keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

@-moz-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}